
<div class="container">
  <div class="search_title_heading">
    <h3 class="mt-5 text-lg">All Products</h3>
  </div>

  <div class="search_result_section mt-5">
    <div class="search_result_item">
      {% for product in collections['all'].products %}
        <a style="text-decoration: none;color:black" href="{{ product.url }}">
          <div class="card" style="max-width: 500px;height:400px;">
            <img src="{{ product.featured_image |  img_url: 'medium' }}" class="card-img-top" alt="{{ product.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p>{{ product.price | money_with_currency }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
