<div class="container">
  <div class="search_title_heading">
   
    {% comment %} <div class="search_input_box_wrapper">
      <form class="search_input_box_wrapper" action="{{ routes.search_url }}">
        <input
          class="search_field"
          type="text"
          placeholder="Search product"
          name="q"
          value="{{ search.terms | escape }}"
        >
        <input type="hidden" name="type" value="product,page">
        <input type="hidden" name="options[unavailable_products]" value="hide">
        <input type="hidden" name="options[prefix]" value="last">
        <input class="search_icon" type="submit" value="Search">
      </form>
    </div> {% endcomment %}
    {% if search.performed %}
      <h3 class="mb-3">Search results</h3>
      <span class="pt-2"> {{ search.results_count }} results found for "{{ search.terms | escape }}" </span>
      {%- else -%}
        <h3>Search Something what you want !!!</h3>
    {% endif %}
    
  </div>

  <div class="search_result_section mt-5">
    <div class="search_result_item">
      {% for item in search.results %}
        <a style="text-decoration: none;color:black" href="{{ item.url }}">
          <div class="card" style="max-width: 500px;height:400px;">
          <img src="{{ item.featured_image |  img_url: 'medium' }}" class="card-img-top" alt="{{ item.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p>{{ item.price |  money_with_currency }}</p>
          </div>
        </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
